# General
rd_seed: 0
output_path: ../DadosAssintomáticos/testes_iniciais_treino   # Where to save the trained model and other outputs

# Dataset parameters
dataset:
  path: ../DadosAssintomáticos/basicoERparaTeste        # Path to the data set
  inputs:
    - OBS_I   # Observed infected nodes (MUST ALWAYS BE GIVEN AS AN INPUT)
    - DEG     # Nodes degrees
    - CONT    # Contact measure -- fraction of neighbors that are observed as infected
    - BETW    # Betweenness metric
    - OBS_B   # Betweenness with both source and target sets being observed infected nodes
  batch_size: 2
  split_seed: 0
  split_prop: 0.8

model:
  dim_layer: 128
  training:
    learning_rate: 0.01
    n_epochs: 10

# TODO: Verificar quais outros parâmetros vamos precisar
